
.avatar {
    border: 1px solid rgba(2, 2, 2, 0.514);
}

.authorPost {
    margin: 20px 0 0 5px;
    display: flex;
    font-weight: bold;
    font-style: normal;
}

.contentPost {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 5px 10px;
    overflow: auto;
}

.commentsPost {
    width: 40px;
    height: 30px;
    display: flex;
    float: left;
    margin: 5px;

}

.likesPost {
    width: 40px;
    height: 30px;
    display: flex;
    float: left;
    margin: 5px 0px 5px 412px;
}




