header {
    border: 3px solid rgb(20, 31, 48);
    background-color: #0a1325ee;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    border: 3px solid black;
    background-color:rgba(62, 93, 133, 0.603);
    color: #ffffff9f;
    font-weight: bold;
    padding: 5px 10px;

}

.clickMenu {
    margin: 10px 20px 0px 30px;
}